@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* --primary: #ff476f; */
  /* --primary: #f25b0a; */
  /* --secondary: #283345; */
  --primary: #283345;
  --secondary: #ff476f;
}

body {
  font-family: 'Roboto Mono', monospace;
}
