@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary: #805acb;
  --secondary: #b340b3;
}

body {
  font-family: 'Roboto Mono', monospace;
}
